<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SeleniumAutoTests" verbose="1">

<!--    <listeners>-->
<!--        <listener class-name="A_BaseTestListener"/>-->
<!--    </listeners>-->

    <test name="Parallel Tests">
        <classes>
            <class name="SeleniumExercises" />
        </classes>
    </test>

</suite>